<!-- views/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>User Display</title>
</head>
<body>
<div id="users-container">
    <% users.forEach(function(user) { %>
        <div>
            <p>Name: <%= user.name %></p>
            <p>Fave color: <%= user.favecolor %></p>

            <div class="buttos">
                <form action="/users/<%= user.id %>/edit" method="get">
                    <button type="submit">Edit</button>
                </form>
                <form action="/users/<%= user.id %>/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
                <form action="/showuser/<%= user.id %>" method="get">
                    <button type="submit">Show user info</button>
                </form>
            </div>

            <hr>
        </div>
    <% }); %>
</div>
<form action="/new" method="get">
    <button type="submit">Create new user</button>
</form>
</body>
</html>
